.iconSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background);
    padding: 20px;
}

.iconContainer {
    width: 100px;
    height: 100px;
    border: 2px solid var(--foreground);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.3s ease;
    margin: 0 10px; /* Optional: adds margin for spacing */
}

.icon {
    width: 50px;
    height: 50px;
    color: var(--color--luminous-vivid-amber); /* Yellow color */
}

.iconContainer:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Hover effect */
}
