.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Выравнивание по центру по вертикали */
  margin-bottom: 2%;
  padding: 5px; /* Уменьшено для большей компактности */
  aspect-ratio: 17 / 1;
  /* padding: 0 10%; */
  
  
}

.nav {
  display: flex;
  width: 80%;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.nav ul {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  padding: 0; /* Убираем отступы */
  list-style: none; /* Убираем маркеры у списка */
  height: 100%;
  align-items: center;

}
.nav ul li {
  width: 20%;
  display: flex;
  justify-content: center;
}
.contact_item {
  display: flex;
  width: auto; /* Изменено на auto для адаптивности */
  justify-content: space-between;
  align-items: center; /* Выравнивание по центру по вертикали */
  gap: 10px;
}

.phone {
  margin-left: 10px; /* Добавил отступ для телефона */
  white-space: nowrap; /* Предотвращает перенос текста на новую строку */

}
.burger_menu {
  object-fit: cover;
}
.info_box {
  display: none;
}
.logo a:hover {
  text-decoration: none !important;
}
.beauty{
  color: var(--color--luminous-vivid-amber);
  font-weight: bold;
  font-size: 20px;
}
.ecke{
  letter-spacing: 10px;

}

/* Адаптивные стили */

@media (max-width: 1024px) {
  .nav ul,
  .contact_item,.nav {
    display: none;
  }
  .info_box {
    display: block;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: clamp(10px,1vw,20px);
  }
}
/* @media (max-width: 1200px) {
  .header {
    padding: 0 3%;
  }
} */