.backgroundPasswordBlock {
  background: rgba(0, 0, 0, 0.7); 
  height: 100%;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
}
.passwordInputContainer {
  display: flex;
  align-items: center;
  background: var(--color--gray);
  border-radius: 8px;
  padding: 8px 12px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1.1);
}

/* Стили для поля ввода */
.passwordInput {
  flex: 1;
  border: none;
  outline: none;
  background: transparent; /* Прозрачный фон */
  color: #fff; /* Белый текст */
  font-size: 16px;
  padding: 8px;
}

/* Стили для кнопки "Show/Hide" */
.toggleVisibility {
  border: none;
  background: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 4px 8px;
  transition: color 0.3s;
}

.toggleVisibility:hover {
  color: #f0a500; /* Цвет кнопки при наведении */
}

.error {
  position: fixed;
  top: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  color: red;
}